#myDiv{
    background-color: lightgreen;
    width: 100px;
    height: 100px;
    border: 1px solid;
    position: relative;
}

#myImg{
    width: 300px;
   visibility: hidden;
}

#myCanvas{
    border: 1px solid black;
    
}